################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Practica4.BLL/.vs/Practica4.BLL.csproj.dtbcache.json
