@{
    ViewBag.Title = "Inicio";
}

<div class="container mt-5">

    <h2 class="text-center mb-4">Práctica 4 - Gestión de Estudiantes</h2>

    <div class="text-center">
        <a href="@Url.Action("Index","Estudiantes")" class="btn btn-success btn-lg">
            Ir al módulo de Estudiantes
        </a>
    </div>

</div>
